{
  "COMMENT": "Where to retrieve images for the slideshow",
  "img_directory": "/home/batman/extstorage/www_slide",

  "COMMENT": "Where to store cached images (eg when resizing or adding a qr code",
  "img_cache_directory": "/home/batman/extstorage/www_slide/cache",

  "COMMENT": "Externally accsible URL to this service",
  "service_url": "http://10.0.0.10:5000",

  "COMMENT": "Max number of random images to pick from an album",
  "max_images_per_random_album": 10,

  "COMMENT": "Geoapify key, see https://myprojects.geoapify.com/projects",
  "rev_geo_apikey": "",

  "YAY": "JSON!"
}
