{
  "img_directory": "/home/batman/extstorage/www_slide",
  "max_images_per_random_album": 10,

  "COMMENT": "Geoapify key, see https://myprojects.geoapify.com/projects",
  "rev_geo_apikey": "",

  "YAY": "JSON!"
}
