[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
exifread = "*"
requests = "*"
qrcode = "*"
schedule = "*"
homeboard-remote-control = {editable = true, path = "./HomeboardRemoteControl"}

[dev-packages]

[requires]
python_version = "*"
