[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
exifread = "*"
requests = "*"
qrcode = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.11"
